table{
    background-color: rgba(63, 216, 243, 0.2);
    border: solid 2px ;
    border-collapse:collapse;    
}
table td, table th {
              border: 1px solid black;
              padding: 8px;
              }
            
tr > td:nth-child(1),tr:nth-child(1) > td
{
    background:rgba(12, 224, 243, 0.3);
}